//FONT
body {
	font-family: 'Noto Serif JP', serif;
	font-family: 'Playfair Display', serif;
}
.gnav a {
    color: #4d4d4d;
}
header.top {
    background: transparent;
    .gnav a, .title a{
        color: #fff;
    }
}
.fc {
	color: #4d4d4d;
}

.card {
	background: $color-base;
}
.card  p {
	text-align: center;
	color: #fff;
}
.development .card:hover{
	transform: scale(1.05);
}
//.gnav li:hover {
//		transform: scale(1.1);
//}
.news li {
    border-bottom: 1px dotted #ccc;
    padding: 1em 2em;
    &:last-child {
        border: none;
    }
}

.image {width: 30%;}
.text {color: #4d4d4d;}