.card {
	padding: 1.5em;
	@include min-screen($breakpoint-pc) {
		width: 300px;
		margin-left: 10px;
		transition: all 0.5s;
	}
	@include max-screen($breakpoint-sm) {
		margin-bottom: 1em;
	}
}

.card-link {
	padding: 0;
}
.card-link > a {
	display: block;
	padding: 1.5em;
}