header.top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.hc {
    @include min-screen($breakpoint-pc) {
        display: flex;
        align-items: center;
    }
	@include max-screen($breakpoint-sm) {
		width: $width-container-sm;
	}
    .title {
        @include min-screen($breakpoint-pc) {
            margin-left: 2em;
        }
    }
    position: fixed;
    width: 100%;
}