.flex {display: flex;}
.flexbox {
	display: flex;
	@include min-screen($breakpoint-pc) {
		justify-content: space-around;
	}
	@include max-screen($breakpoint-sm) {
		flex-direction: column;
	}
}
.justifyContentCenter {justify-content: center;}
.flexWrap {flex-wrap: wrap;}
.alignItems {align-items: center;}
.smColumn {
    @include max-screen($breakpoint-sm) {
		flex-direction: column;
	}
}