.nc {
	margin: 0 auto;
	@include min-screen($breakpoint-pc) {
		width: $width-container-pc;
	}
	@include max-screen($breakpoint-sm) {
		width: $width-container-sm;
	}
}

@media screen and (min-width: $breakpoint-pc) {
	.gnav li{
		width: 20%;
		float: left;
		transition: all 0.5s;
	}
}

@media screen and (max-width: $breakpoint-sm) {
	.gnav {
		display: none;
		position: relative;
	}
	.gnav li{
		border-bottom: 1px dotted #fff;
		transition: all 0.5s;
	}
	.gnav li:last-child{
		border: none;
	}
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}