/* CSS Document */
/*LAYOUT*/
header,nav,.nc,.nc ul{
	background: rgba(179,114,238);
}

.mc01{
	padding: 2em 0;
	background: #f2f2f2;
}
.mc02{
	padding: 2em 0;
}
.fc{
	background: #ccc;
}
.fc01{
	padding: 1em 0;
}
.fc02{
	padding: 1em 0;
	color: #fff;
	background: #000;
}
/*TEXT*/
.title{
	margin: 0;
	padding: 10px;
	font-size: 136%;
	color: #fff;
}
.title a{color: #fff;}
.page-title{
	margin-top: 30px; 
	padding: 0; 
	text-align: center; 
	font-size: 200%; 
	font-weight: 600; 
	line-height: 1.5;
}
.page-title-icon{}
.page-title-sub{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 600; 
	font-size: 108%; 
	letter-spacing: 0.2em;
}
.article-title{
	margin-top: 2em;
	padding: 0;
	text-align: center;
	font-size: 180%;
	font-weight: bold;
}
.article-title-sub{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 600; 
	font-size: 108%; 
	letter-spacing: 0.2em;
}
.article-title-icon{
	margin-right: 0.5em;
}
.section-title{
	margin: 0;
	padding: 0.5em;
	text-align: center;
	font-size: 120%;
	font-weight: 200;
}
.section-title-sub{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 83%;
	font-weight: bold;
}
/*デコレーション*/
.article-title{
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	background: linear-gradient(transparent 95%, #ff6f61 95%);
}
/*その他共通設定*/
.gnav a{
	color: #fff;
}
.life p{
	text-align: center;
}
.life .section-title-sub{
	margin: 1em 0;
}
/*ボタン*/
.button{
	border: 1px solid #ccc;
	margin-bottom: 1em;
	transition: all 0.5s;
}
.button:hover{
	transform: scale(1.05);
}
.button a{
	display: block;
	padding: 0.5em;
}
.button p{
	text-align: center;
	color: #fff;
}