/* CSS Document */
.pc-only{}
.sm-only{display: none !important;}

/*LAYOUT*/
.hc, .mc, .nc, .fc01{
	width: 1200px;
	margin: 0 auto;
}
/*グローバルナビ*/
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.gnav li{
	width: 20%;
	float: left;
	transition: all 0.5s;
}
.gnav li:hover{
	transform: scale(1.1);
}
.gnav .active {
	color: rgb(181, 245, 217);
}

/*開発*/
.development{
	display: flex;
	justify-content: space-around;
}
.card{
	width: 300px;
	background: rgba(204, 184, 202);
	transition: all 0.5s;
	padding: 1.5em;
}
.development .card:hover{
	transform: scale(1.05);
}

.card .section-title{
	color: #fff;
}
.card .text{
	padding: 1em;
	color: #fff;
}
/*リンク*/
.link, .life{
	display: flex;
	justify-content: space-around;
}
.card p {
	color: #fff;
}
