/* CSS Document */
.pc-only{display: none !important;}
.sm-only{}
.hc,.fc01{
	width: 90%;
	margin: 0 auto;
}
.auto{
	width: 90%;
	margin: 0 auto;
}
.nc ul{display: none;}
.development{
	display: flex;
	flex-direction: column;
}
.card{
	margin-bottom: 1em;
	background: rgba(0,0,0,0.5);
	transition: all 0.5s;
}
.development .card:hover{
	transform: scale(1.05);
}

.card .section-title{
	color: #fff;
}
.card .text{
	padding: 1em;
	color: #fff;
}
.link .card{
	padding: 1em;
}
